@using Mvc_Project.Models
@model List<TblImage>

<div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head">Projelerimden Görseller</h3>
                <p class="my-3 head">
                    @ViewBag.v
                </p>
            </div>
            <input id="tab1" type="radio" name="tabs" checked>
            <label class="tabtle" for="tab1">Tüm Projelerim</label>

            <input id="tab2" type="radio" name="tabs">
            <label class="tabtle" for="tab2">.Net</label>

            <input id="tab3" type="radio" name="tabs">
            <label class="tabtle" for="tab3">Mvc</label>

            <input id="tab4" type="radio" name="tabs">
            <label class="tabtle" for="tab4">C# Projelerim</label>


            <section id="content1" class="tab-content text-left">
                <div class="d-grid grid-col-3">

                    @foreach (var item in Model)
                    {

                        <div class="product">
                            <a href="@item.ImageUrl" data-lightbox="example-set"
                               data-title="@item.ImageDescription">
                                <figure>
                                    <img src="@item.ImageUrl" class="img-responsive" alt="@item.ImageCategory" />
                                </figure>
                            </a>

                        </div>



                    }

                </div>
            </section>

            <section id="content2" class="tab-content text-left">
                <div class="d-grid grid-col-3">


                    @foreach (var item in Model)
                    {

                        if (item.ImageCategory == "Mvc")
                        {
                            <div class="product">
                                <a href="@item.ImageUrl" data-lightbox="example-set"
                                   data-title="@item.ImageDescription">
                                    <figure>
                                        <img src="@item.ImageUrl" class="img-responsive" alt="@item.ImageCategory" />
                                    </figure>
                                </a>

                            </div>

                        }

                    }
                </div>
            </section>

            <section id="content3" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    @foreach (var item in Model)
                    {

                        if (item.ImageCategory == ".Net")
                        {
                            <div class="product">
                                <a href="@item.ImageUrl" data-lightbox="example-set"
                                   data-title="@item.ImageDescription">
                                    <figure>
                                        <img src="@item.ImageUrl" class="img-responsive" alt="@item.ImageCategory" />
                                    </figure>
                                </a>

                            </div>
                        }

                    }
                </div>
            </section>

            <section id="content4" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    @foreach (var item in Model)
                    {

                        if (item.ImageCategory == "Csharp")
                        {
                            <div class="product">
                                <a href="@item.ImageUrl" data-lightbox="example-set"
                                   data-title="@item.ImageDescription">
                                    <figure>
                                        <img src="@item.ImageUrl" class="img-responsive" alt="@item.ImageCategory" />
                                    </figure>
                                </a>

                            </div>
                        }

                    }
                </div>
            </section>


        </div>
    </div>
    <!-- Products4 block -->
</div>

<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/assets/js/lightbox-plus-jquery.min.js"></script>